<!DOCTYPE html>
<html>
<head>
    <title>Activation Failed</title>
</head>
<body>
    <h1>Account activation failed.</h1>
    <p>{{ error }}</p>
    <p><a href="register">Click here to register</a></p>
</body>
</html>
