<script src="/js/global.js"></script>
<script src="/js/toggle.js"></script>

<div class="dropdown">
    <button onclick="toggleViewItems()" class="dropbtn">Choose what to view</button>
        <div id="viewitemsDropdown" class="dropdown-content">
            <a href="viewtechniques">Techniques</a>
            <a href="viewclasses">Classes</a>
            <a href="viewpositions">Positions</a>
            <a href="viewcategories">Categories</a>
        </div>
</div>