<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grappling Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/js/topNavigation.js"></script>
</head>
<body>

<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav" id="topnav">
    <div class="left-section">
        <a href="mainview">Grappling Tracker</a>
    </div>
    <div id="myNav" class="overlay">

        <div>
            <a href="mainview" class="overlay-heading">Grappling Tracker</a>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>

        <span class="">
            {% if username %}
                {{ username }} 
            {% endif %}
        </span>

        <div class="overlay-content">
            <a href="mainview" class="active">Notes</a>
            <a href="addtechnique">Add</a>
            <a href="viewtechniques">View</a>
            <a href="stats">Stats</a>
        </div>
    </div>
    <span class="logged-in-text">
    {% if username %}
        {{ username }} 
    {% endif %}
    </span>
    
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
</div>
<a href="logout" class="dropdown-item">Logout</a>

<style>

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: #222226;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-heading {
  position: absolute;
  top: 35px;
  left: 30px;
  font-size: 16px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #FAFAFA;
  display: block;
  transition: 0.3s;
  font-weight: 400;
  line-height: 44px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 16px;
  top: 0px;
  right: 30px;
  }
}
</style>
</head>
<body>


<script>
function openNav() {
  document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.height = "0%";
}
</script>