<nav class="navbar navbar-expand-lg bg-light mb-3">
    <div class="container">
        <div class="justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="addtechnique">Technique</a>
                <a class="nav-link" href="addclass">Class</a>
                <a class="nav-link" href="addposition">Add position</a>
                <a class="nav-link" href="addcategory">Add category</a>
            </div>
        </div>
    </div>
</nav>