<script src="/js/global.js"></script>
<script src="/js/toggle.js"></script>

<div class="dropdown">
  <button onclick="toggleAddnew()" class="dropbtn">Choose what to add</button>
      <div id="addnewDropdown" class="dropdown-content">
        <a href="addtechnique">Technique</a>
        <a href="addclass">Class</a>
        <a href="addposition">Position</a>
        <a href="addcategory">Category</a>
      </div>
</div>

