// login page styles
.login-form {
  width: 350px;
}

@media only screen and (min-width: 600px) {
  .login-form {
    width: 500px;
  }
}

.frontpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 20vh;
  //border: 1px solid red;
}