.primary-button {
    color: $primary-button-color;
    background-color: $primary-button-bg;
    padding: 0.5rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 12px;
    font-weight: 700;
}

.primary-button:hover {
    color: $primary-button-color;
    background-color: $primary-button-hover-bg;
}

.secondary-button {
    background-color: $secondary-button-bg;
}

/* Make buttons block-level and full width */
.front-page-btn {
    display: block;
    width: 300px; /* Make the button take full width */
    margin-bottom: 10px; /* Add space between buttons */
    padding: 10px; /* Adjust padding for better sizing */
  }

