// Importing Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Define variables for colors and commonly used properties
$background-dark: #343a40;
$text-light: #ffffff;
$background-light: #f1f1f1;
$background-medium: #e9ecef;
$border-color: #dee2e6;
$content-background: #8a8a8a52;
$button-dark: #191919; // Dark button background
$button-light: #f1f1f1; // Light button background
$button-light-text: #FEFEFE;
$button-dark-text: #191919;
$button-dark-border: #191919;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    font-family: 'Mukta', Arial, Helvetica, sans-serif;
}

.nav-item {
    font-size: 1.2em;
    margin-left: 3em;
}

// Custom button styles
.custom-button {
    padding: 16px 80px; // Adjusted padding
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif; // Ensuring Poppins is applied
}

.get-started {
    font-size: 34px;
    font-weight: bold;
}

.login-button {
    background: $button-dark;
    color: $button-light;
    &:hover {
        background-color: lighten($button-light, 10%);
        color: $button-dark-text;
        border: 2px solid $button-dark;
    }
}

.signup-button {
    background: $button-dark;
    color: $button-light;
    &:hover {
        background-color: lighten($button-light, 10%);
        color: $button-dark-text;
        border: 2px solid $button-dark;
    }
}

// Chart styles and others remain the same
#combinedChart, #techniquesPerPosition, #techniquesLearnedChart, #matTimeChart {
    height: 300px !important;
    width: 100%;
}

.dark-list-group {
    .list-group-item {
        background-color: $background-dark;
        color: $text-light !important;
    }
}

.centered-container {
    max-width: 1000px;
    min-width: 400px;
    margin: 40px auto 0;
    padding: 2px;
    background-color: $content-background;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 0;
}

// Responsive table styling
@media (max-width: 768px) {
    .userID-column, .category-column, .position-column, .difficulty-column, .action-column {
        display: none;
    }
    .table {
        td, th {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
        thead {
            display: none;
        }
        tbody {
            tr {
                margin-bottom: 10px;
                border-bottom: 2px solid $border-color;
            }
        }
    }
}
