// Importing Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Define variables for colors and commonly used properties
$background-dark: #343a40;
$text-light: #ffffff;
$background-light: #f1f1f1;
$background-medium: #efe9ed;
$background-blue: #2944E5;
$background-navy: rgb(32, 30, 67);
$border-color: #dee2e6;
$content-background: #8a8a8a52;
$button-orange: #FEAE6F;
$button-orange-background: #fbcda9;
$button-light-text: #FEFEFE;
$button-dark-text: #191919;
$get-started-background: rgb(32, 30, 67);

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: $background-light;
    font-family: 'Mukta', Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

.login-body {
    height: 100vh;
    background-color: $background-medium;
}

.front-page-btn {
    width: 250px; /* Makes buttons wider */
    margin: 10px auto; /* Centers buttons and adds spacing between them */
    display: block; /* Ensures buttons take up their own line */
}

.form-control {
    border-radius: 0; /* Makes the inputs rectangular */
    height: 45px; /* Standard height for each input for better visual appeal */
    margin-bottom: 10px; /* Reduces space between inputs */
    background-color: #fff; /* Optional: Ensures a consistent background */
    border: 1px solid #ccc; /* Optional: Adds a subtle border */
}

.btn-primary {
    border-radius: 0; /* Makes the button rectangular */
    height: 50px; /* Sets a consistent height for the button */
}

/* If you want to reduce the margin above the submit button */
.btn-block {
    margin-top: 15px; /* Adjusts the top margin of the button */
}

/* To ensure that error messages are closer to the input fields */
.form-text.error-message {
    margin-bottom: 5px;
    margin-top: -5px; /* Pulls the error message closer to the input field */
}

.custom-login-form {
    position: fixed; /* Use fixed to keep it in the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the form */
    padding: 20px;
    border-radius: 10px;
    color: #000000; /* Adjust text color as necessary */
    min-width: 300px; /* Minimum width */
    width: 500px;
    max-width: 95%; /* Prevents the form from being too wide on larger screens */}

@media (max-width: 768px) {
    .custom-login-form {
        padding: 15px; /* Slightly reduce padding on smaller screens */
        min-width: 260px; /* Smaller minimum width for very small devices */
        max-width: 90%;
    }
}

.btn-custom {
    width: 100%;
    background-color: $background-dark;
    color: $background-light;
    border-radius: 10px;
    padding: 24px 20px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}


.forgot-password {
    text-align: center;
    color: $background-blue;
    text-decoration: underline;
    margin-top: 15px;
}

.get-started-background {
    background-color: $background-medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; /* Full screen height */
    text-align: center; /* Ensures text is centered horizontally */
    padding: 20px; /* Add padding for smaller screens */
}

.nav-item {
    font-size: 1.2em;
    margin-left: 3em;
}

#dynamicText {
    color: #000000;
    font-size: 3rem; /* Adjustable font size */
    transition: font-size 0.3s ease; /* Smooth transition for font resize */
    height: 120px; /* Fixed height to prevent layout shift */
}

@media (max-width: 992px) { /* Adjust for medium devices and below */
    #dynamicText {
        font-size: 2.5rem; /* Slightly smaller font size for medium devices */
    }
}

@media (max-width: 768px) { /* Adjust for small devices */
    #dynamicText {
        font-size: 2rem; /* Even smaller font size for small devices */
    }
}

// Custom button styles
.custom-button {
    display: block; // Ensures the link is not just text but the entire block
    padding: 16px 80px; // Adjusted padding
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif; // Ensuring Poppins is applied
}

/* Default color for large screens */
.page-title {
    color: #0099ad; /* Black color */
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    font-size: 36px;
    font-weight: bold;
}

/* Media query for small screens */
@media (max-width: 968px) {
    .page-title {
        color: #FFFFFF; /* White color for smaller screens */
    }
}

.get-started {
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.signup-button {
    background: $button-orange;
    color: $button-dark-text;
    &:hover {
        background-color: $button-orange-background;
        color: $button-dark-text;
    }
}

// Chart styles and others remain the same
#combinedChart, #techniquesPerPosition, #techniquesLearnedChart, #matTimeChart {
    height: 300px !important;
    width: 100%;
}

.dark-list-group {
    .list-group-item {
        background-color: $background-dark;
        color: $text-light !important;
    }
}

.centered-container {
    max-width: 1000px;
    min-width: 400px;
    margin: 40px auto 0;
    padding: 2px;
    background-color: $content-background;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 0;
}

.test {
    table-layout: fixed;
}

.td-overflow {
    white-space: normal!important;
    word-wrap: break-word!important;
}

// Responsive table styling
@media (max-width: 768px) {
    .userID-column, .category-column, .position-column, .difficulty-column, .action-column {
        display: none;
    }
    .table {
        td, th {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
        thead {
            display: none;
        }
        tbody {
            tr {
                margin-bottom: 10px;
                border-bottom: 2px solid $border-color;
            }
        }
    }
}
