/* General body styles */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    display: flex;
    flex-direction: column;  /* Organizes content in a column */
    min-height: 100vh;  /* Minimum height to take up the viewport height */
    background: rgb(255, 255, 255);
    font-family: 'Mukta', Arial, Helvetica, sans-serif; /* Consistent font for the whole page */
    /*background-image: url('https://images.unsplash.com/photo-1439405326854-014607f694d7?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');*/
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fix the background image during scrolling */
    background-position: center; /* Center the background image */
    background-size: cover; /* Cover the entire viewport */
}



.container-fluid {
    flex: 1;  /* Allows the container to grow and fill the available space */
}

/* Navbar */
.nav-item {
    font-size: 1.2em;
    color: red;
    margin-left: 3em;

}

.journalCardStyle {
    background-color: rgba(147, 156, 179, 0);
}

.journalButton {
    color: #000000; /* Set your desired color */
    background-color: #007bff00; /* Example background color; adjust as needed */
}

.journalButton:hover {
    color: #cccccc; /* Lighter color on hover */
}



.hero-section {
    font-family: 'Mukta', Arial, Helvetica, sans-serif; /* Consistent font for the whole page */

    background: url('/technique-db-mvc/public/img/heroImage.jpg') no-repeat center center;
    background-size: cover;
    color: rgb(0, 0, 0);
    padding: 10vh 0; /* dynamic padding based on the viewport height */
    text-align: center;
    margin-bottom: 50px;
    min-height: 55vh; /* responsive minimum height */
    height: auto;
}
.hero-section h1 {
    font-size: 4vw; /* Larger and responsive font size for headings */
    font-variant: small-caps;
    color: #FFF; /* Example: set text color for visibility */
    margin-bottom: 1vh; /* Add some vertical spacing */
    text-shadow: -0.5px -0.5px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Enhance visibility against backgrounds */
}

.hero-section p {
    font-size: 2vw; /* Slightly larger and responsive font size for paragraphs */
    color: #ffffff; /* Example: set text color for visibility */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Optional text shadow for better readability */
}

.features {
    margin-top: 0;
}
.feature-item {
    margin-bottom: 20px;
}
.cta-buttons {
    text-align: center;
    justify-content: center;
}

/* Error message color */
.error-message {
    color: red;  /* Set the color of the error messages to red */
    font-style: italic;
}

/* Optimal legibility for smaller devices */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 8vw; /* Increase size for better visibility on smaller screens */
    }

    .hero-section p {
        font-size: 4vw; /* Increase paragraph text size for readability on small devices */
    }
}

/* Adjustments for very small devices */
@media (max-width: 480px) {
    .hero-section h1 {
        font-size: 10vw; /* Even larger size for smallest screens */
    }

    .hero-section p {
        font-size: 5vw; /* Ensure legibility on very small devices */
    }
}

/* Centered container for the main content */
.centered-container {
    max-width: 1000px; /* Max width for the container */
    min-width: 400px; /* Min width for the container */
    margin: 40px auto; /* Centering the container */
    padding: 2px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #8a8a8a52; /* White background for the content area */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for 3D effect */
    border-radius: 0px; /* Rounded corners */
}


/* Card styles */
.card {
    border: none; /* Remove default bordAer */
}

/* Header styles within the card */
h2 {
    color: #333; /* Dark grey color for headings */
    font-size: 24px; /* Larger font size for visibility */
}

/* Styling for list items */
.list-group-item {
    background-color: #ffffff; /* Light background for the list items */
    color: #495057; /* Darker text for better readability */
    border-radius: 5px; /* Rounded corners for the list items */
    margin-bottom: 10px; /* Space between items */
    transition: transform 0.2s; /* Smooth transform on hover */
}

.testborder {
    border: 2px solid #000;
    border-radius: 2px;
}

/* Hover effects for list items */
.list-group-item:hover {
    transform: scale(1.01); /* Slight scale up on hover */
    background-color: #dde5ed; /* Light blue background on hover */
}

/* Button styles */
.btn-primary {
    background-color: #aa62a4; /* Bootstrap primary color */
    border-color: #aa62a4; /* Matching border color */
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-primary:hover {
    background-color: #a14f9a; /* Bootstrap primary color */
    border-color: #aa62a4; /* Matching border color */
}

.btn-secondary {
    background-color: #34babe; /* Bootstrap secondary color */
    border-color: #34babe; /* Matching border color */
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-secondary:hover {
    background-color: #099498; /* Bootstrap primary color */
    border-color: #34babe; /* Matching border color */
}

/* 'Back' button */
.svg-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: currentColor;
    margin-bottom: 10px;
}
.svg-button:hover {
    color: #007bff; /* Change color on hover */
}
.svg-button svg {
    vertical-align: middle;
}

/* VIEW ITEMS SIZING */

/* Default table styling for all screen sizes */
.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table thead th {
    background-color: #e9ecef;
    border-bottom: 2px solid #dee2e6;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .userID-column,
    .category-column,
    .position-column,
    .difficulty-column,
    .action-column {
        display: none; /* Hide these columns on smaller screens */
    }

    .table td,
    .table th {
        display: block; /* Ensure table cells are displayed as block elements */
        width: 100%; /* Take up full width of the screen */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }

    .table thead {
        display: none; /* Hide table headers on smaller screens */
    }

    .table tbody tr {
        margin-bottom: 10px; /* Add space between table rows for readability */
        border-bottom: 2px solid #dee2e6; /* Add a border to separate table rows */
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Height of the footer */
}