{% include '@Header/header.twig' %}

<div class="container px-3 mt-3">
    
    <div class="row">
        <span>View | Category
            <a href="/viewitems">
                <img src="/img/cancel.svg" alt"cancel">
            </a>
        </span>
    </div>

    <div class="row">
        {% include '@HeaderViewItems/header-viewitems.twig' %}
    </div>
    {% if categories is empty %}
        <h5>No categories found.</h5>
    {% else %}
        <div class="container">
            <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-3">Name</div>
                            <div class="col-md-9">Description</div>
                        </div>
                    </div>
                {% for category in categories %}
                    <div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-3">{{ category.categoryName }}</div>
                            <div class="col-md-9">{{ category.categoryDescription }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>