{% include '@Header/header.twig' %}
{% include '@HeaderAddItems/header_additems.twig' %}


<div class="container px-5">
  
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="addtechnique" class="link-dark">Add technique</a></li>
    <li class="list-group-item"><a href="addcategory" class="link-dark">Add category</a></li>
    <li class="list-group-item"><a href="addposition" class="link-dark">Add position</a></li>
    <li class="list-group-item"><a href="addclass" class="link-dark">Add class</a></li>
  </ul>