// Base colors
$primary-theme-color: #6C0345;

$primary-button-bg: #00ADB5;
$primary-button-color: #f1f1f1;
$primary-button-hover-bg: #393E46;
$primary-button-hover-color: #f1f1f1;

$secondary-button-bg: #222831;
$secondary-button-color: #ffffff;
$secondary-button-hover-bg: #00ADB5;
$secondary-button-hover-color: #ffffff;

$dropdown-background: #EEEEEE;
